body {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-size: 12px;
  border: 0;
}

.navbar {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  margin: 15px 0px 10px 0px;
  list-style-type: none;
  align-items: center;
}

.nav-logo {
  width: 90px;
  margin: 0px 10px 0px 15px;
}

.search-icon-small-window {
  font-size: 20px;
  display: none;
}

.bars-icon button {
  font-size: 30px;
  display: none;
}

.navbar button {
  background-color: rgb(255, 255, 255);
}

.search-box {
  display: flex;
  flex-grow: 1;
  align-content: center;
  border: 1px solid black;
  align-items: center;
  border-radius: 60px;
  padding-left: 10px;
  background-color: #f5f5f5;
  margin-right: 12px;
  margin-left: 10px;
}

.search-box .search-icon {
  font-size: 14px;
  background-color: #f5f5f5;
  color: #a5a5a5;
  cursor: default;
  padding: 10px;
}

.search-text {
  border: 0;
  margin-left: 10px;
  font-size: 14px;
  height: 38px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 60px;
}

.search-text:focus {
  outline: none;
}

.icons {
  border-style: none;
}

.cart-icon {
  font-size: 19px;
  margin-left: 5px;
}

.cart-icon:hover,
.category button:hover,
.udemy-business button:hover,
.teach-udemy button:hover {
  color: blueviolet;
}

.log-in a button {
  font-weight: bolder;
  height: 45px;
  width: 65px;
  margin-left: 15px;
  margin-left: 20px;
  border: 0.1rem solid;
}

.sign-up a button {
  background-color: #000000;
  height: 45px;
  width: 70px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-left: 10px;
}

.language-icon button {
  font-size: 16px;
  margin: 0px 10px 0px 10px;
  color: black;
  height: 45px;
  width: 45px;
  background-color: white;
  border: 0.1rem solid;
}

.container,
.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header img {
  max-width: 100%;
}

.page-header .text {
  position: absolute;
  top: 30px;
  left: 90px;
  padding-left: 20px;
  margin: 50px 50px 0px 0px;
  border: 0px solid white;
  background-color: white;
  max-width: 400px;
  box-shadow: 10px 10px 10px 0px rgb(155, 154, 154);
}

.page-header h1 {
  margin-bottom: 0;
}

.edu {
  max-width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  padding-right: 530px;
}

.edu h1 {
  margin: 0;
  margin-top: 40px;
  font-size: 33px;
}

.edu p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: system-ui;
}

.edu .tabs button {
  border: 0;
  padding: 15px 0px;
  cursor: pointer;
  color: rgb(146, 146, 146);
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  padding-right: 20px;
  width: auto;
}

.edu .tabs button:hover {
  color: black;
}

.courses {
  border: 0.1rem solid rgb(202, 202, 202);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
  padding-left: 30px;
}

.courses .python-intro h1 {
  font-size: 28px;
  margin-bottom: 0;
}

.courses p {
  font-family: system-ui;
  font-size: 17px;
}

.courses .explore-button {
  height: 40px;
  width: 120px;
  font-size: 12px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
  border-radius: 2px;
  margin: 10px 0px;
  margin-bottom: 20px;
}

.courses .explore-button:hover {
  background-color: rgb(226, 226, 226);
}

.python-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1310px;
  align-items: center;
}

.python-list .recommend {
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 16px;
  width: 230px;
}

.python-list img {
  height: 150px;
  width: 230px;
}

.python-list h5 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.python-list .authorName {
  font-size: 12px;
  color: rgb(110, 110, 110);
  margin: 5px 0px;
  display: block;
}

.python-list .rate {
  font-size: 12px;
  color: rgb(185, 158, 0);
  font-weight: bolder;
}

.python-list .number {
  color: rgb(110, 110, 110);
  font-weight: 400;
}

.python-list .price {
  display: block;
  margin: 7px 0px;
  font-weight: bolder;
  font-size: 15px;
}

.python-list button {
  border: 0px;
  background-color: rgb(255, 255, 255);
}

.python-list .bestseller {
  cursor: default;
  background-color: #eceb98;
  font-size: 12px;
  color: rgb(13, 77, 0);
  font-weight: bold;
  width: 70px;
  border: 0px;
}

/* Responsive design*/
@media (max-width: 1250px) {
  .navbar {
    justify-content: space-between;
  }

  .usemy-business {
    display: none;
  }

  .search-box {
    width: 540px;
  }

  .page-header .text {
    top: 30px;
    left: 80px;
  }
}

@media (max-width: 1200px) {
  .udemy-business {
    display: none;
  }

  .search-box {
    width: 350px;
  }

  .page-header .text {
    left: 70px;
    top: 20px;
  }
}

@media (max-width: 980px) {
  .teach-udemy {
    display: none;
  }

  .search-box {
    width: 320px;
  }

  .page-header .text {
    left: 50px;
    top: 10px;
  }
}

@media (max-width: 900px) {

  .bars-icon button,
  .search-icon-small-window {
    display: inline;
  }

  .log-in,
  .sign-up,
  .language-icon,
  .search-box,
  .category {
    display: none;
  }

  .page-header .text {
    position: static;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-shadow: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .page-header p {
    font-size: 22px;
  }

  .page-header h1 {
    font-size: 35px;
  }

  .edu {
    padding-right: 270px;
  }
}

@media (max-width: 500px) {
  .page-header h1 {
    font-size: 30px;
  }

  .page-header p {
    display: inline;
  }

  .edu {
    padding-right: 100px;
  }
}

@media (max-width: 300px) {
  .edu {
    padding: 0px 0px 0px 10px;
    margin: 0;
  }

  .python-list .recommend {
    width: 200px;
  }
  
  .python-list img {
    height: 150px;
    width: 200px;
  }
}
