body {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-size: 12px;
  border: 0px;
}

.navbar {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  margin: 15px 0px 10px 0px;
  list-style-type: none;
  align-items: center;
}

#fa-se {
  font-size: 20px;
  display: none;
}

#bars-icon button {
  font-size: 30px;
  display: none;
}

.logo {
  width: 90px;
  margin: 0px 10px 0px 15px;
}

.navbar button {
  background-color: rgb(255, 255, 255);
}

.options button {
  border: 0px;
  font-size: 13px;
  margin: 6px;
}

.options button:hover {
  color: blueviolet;
}

.search-box {
  display: flex;
  flex-grow: 1;
  align-content: center;
  border: 1px solid black;
  align-items: center;
  border-radius: 60px;
  padding-left: 10px;
  background-color: #f7f9fa;
  margin-right: 12px;
  margin-left: 10px;
}

.search-text {
  border: 0;
  margin-left: 10px;
  font-size: 14px;
  height: 38px;
  width: 535px;
  background-color: #f7f9fa;
  border-radius: 60px;
}

.search-text:focus {
  outline: none;
}

#search-icon {
  font-size: 14px;
  background-color: #f7f9fa;
  color: #a5a5a5;
  cursor: default;
}

.icons {
  border-style: none;
  background-color: white;
}

#cart-icon {
  font-size: 19px;
  margin-left: 5px;
}

#cart-icon:hover {
  color: blueviolet;
}

.logIn a button {
  font-weight: bolder;
  height: 45px;
  width: 65px;
  margin-left: 15px;
  margin-left: 20px;
  border: 0.1rem solid;
}

.signUp a button {
  background-color: #000000;
  height: 45px;
  width: 70px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-left: 10px;
}

.lang button {
  font-size: 16px;
  margin: 0px 10px 0px 10px;
  color: black;
  height: 45px;
  width: 45px;
  background-color: white;
  border: 0.1rem solid;
}

.headerphotowithtext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerphotowithtext img {
  max-width: 100%;
}

.headerphotowithtext .text {
  position: absolute;
  top: 30px;
  left: 90px;
  font-size: 18px;
  position: absolute;
  padding: 20px 0px 20px 20px;
  margin: 50px 50px 0px 0px;
  border: 0px solid white;
  background-color: white;
  max-width: 400px;
  box-shadow: 10px 10px 10px 0px rgb(155, 154, 154);
}

.headerphotowithtext .small-text {
  display: none;
  max-width: 1305px;
}

.headerphotowithtext .text .first-line {
  font-weight: bold;
  font-size: 29px;
}
.edu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 1305px;
}

.edu h1 {
  margin: 0;
  margin-top: 40px;
  font-size: 33px;
}

.edu p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: system-ui;
}

.edu .tabs button {

  padding: 15px 0px;
  border: 0;  
  cursor: pointer;
  color: rgb(146, 146, 146);
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  padding-right: 20px;
}

.edu .tabs button:hover {
  color: black;
}

.courses {
  margin: 0px 0px 0px 0px;
  border: 0.1rem solid rgb(202, 202, 202);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 0;
  max-width: 1305px;
}

.courses .intro-python {
  margin-left: 20px;
}

.courses p {
  font-family: system-ui;
  font-size: 16px;
}

.explore {
  height: 40px;
  width: 120px;
  font-size: 12px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
  border-radius: 2px;
  margin: 10px 0px;
  margin-bottom: 20px;
}

.explore:hover {
  background-color: rgb(226, 226, 226);
}

.python-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  max-width: 1310px;
  align-items: center;
}

.python-list .recommend {
  cursor: pointer;
  margin-bottom: 25px;
  margin-right: 12px;
  width: 245px;
}

.python-list img {
  height: 150px;
  width: 240px;
}

.python-list h5 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.python-list .authorName {
  font-size: 12px;
  color: rgb(110, 110, 110);
  margin: 5px 0px;
  display: block;
}

.python-list .rate {
  font-size: 12px;
  color: rgb(185, 158, 0);
  font-weight: bolder;
}

.python-list .number {
  color: rgb(110, 110, 110);
  font-weight: 400;
}

.python-list .price {
  display: block;
  margin: 7px 0px;
  font-weight: bolder;
  font-size: 15px;
}

.python-list button {
  border: 0px;
  background-color: rgb(255, 255, 255);
}

.python-list .bestseller {
  cursor: default;
  background-color: #eceb98;
  font-size: 12px;
  color: rgb(13, 77, 0);
  font-weight: bold;
  width: 70px;
  border: 0px;
}

/* Responsive design*/
@media (max-width: 1250px) {
  .navbar {
    justify-content: space-between;
  }

  #ude-bs {
    display: none;
  }

  .search-text {
    width: 540px;
  }

  .headerphotowithtext .text {
    top: 30px;
    left: 80px;
  }
}

@media (max-width: 1200px) {
  #ude-bs {
    display: none;
  }

  .search-text {
    width: 350px;
  }

  .headerphotowithtext .text {
    left: 70px;
    top: 20px;
  }
}

@media (max-width: 980px) {
  #te-ude {
    display: none;
  }

  .search-text {
    width: 340px;
  }

  .headerphotowithtext .text {
    left: 50px;
    top: 10px;
  }
}

@media (max-width: 900px) {
  #bars-icon button,
  #fa-se {
    display: inline;
  }

  .headerphotowithtext .text,
  .logIn,
  .signUp,
  .lang,
  .search-box,
  #cate {
    display: none;
  }

  .headerphotowithtext .small-text {
    display: block;
    text-align: center;
  }

  .headerphotowithtext h1 {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .headerphotowithtext h1 {
    font-size: 16px;
  }

  .headerphotowithtext p {
    display: inline;
  }
}

conatainer {
  position: relative;
}

box {
  position: absolute;
  top: 100px;
  left: 100px;
}
