@import "./components/index.css";

body {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-size: 12px;
  border: 0;
}
