.courses {
  border: 0.1rem solid rgb(202, 202, 202);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 25px 0px 0px 0px;
  margin: 0px 10px;
  max-width: 1310px;
}

.courses h1 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.courses p {
  font-family: system-ui;
  font-size: 17px;
  margin-left: 20px;
}

.courses .explore-button {
  height: 40px;
  font-size: 12px;
  border: 0.1rem solid black;
  background-color: white;
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 2px;
  margin-bottom: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.courses .explore-button:hover {
  background-color: rgb(226, 226, 226);
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.courses-list .recommend {
  cursor: pointer;
  margin-bottom: 25px;
  width: 240px;
}

.courses-list img {
  height: 150px;
  width: 240px;
}

.courses-list h5 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.courses-list .authorName {
  font-size: 12px;
  color: rgb(110, 110, 110);
  margin: 5px 0px;
  display: block;
}

.courses-list .rate {
  font-size: 12px;
  color: rgb(185, 158, 0);
  font-weight: bolder;
}

.courses-list .number {
  color: rgb(110, 110, 110);
  font-weight: 400;
}

.courses-list .price {
  display: block;
  margin: 7px 0px;
  font-weight: bolder;
  font-size: 15px;
}

.courses-list button {
  border: 0px;
  background-color: rgb(255, 255, 255);
}

.courses-list .bestseller {
  cursor: default;
  background-color: #eceb98;
  font-size: 12px;
  color: rgb(13, 77, 0);
  font-weight: bold;
  width: 70px;
  border: 0px;
}
