.edu {
  max-width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  padding-right: 530px;
}

.edu h1 {
  margin: 0;
  margin-top: 40px;
  font-size: 33px;
}

.edu p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: system-ui;
}

.edu .tabs button {
  border: 0;
  padding: 15px 0px;
  cursor: pointer;
  color: rgb(146, 146, 146);
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  padding-right: 20px;
  width: auto;
}

.edu .tabs button:hover {
  color: black;
}
