.container,
.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header img {
  max-width: 100%;
}

.page-header .text {
  position: absolute;
  top: 30px;
  left: 90px;
  padding-left: 20px;
  margin: 50px 50px 0px 0px;
  border: 0px solid white;
  background-color: white;
  max-width: 400px;
  box-shadow: 10px 10px 10px 0px rgb(155, 154, 154);
}

.page-header h1 {
  margin-bottom: 0;
}
